.editar{
  float: inline-end;
  position: relative;
  padding: initial;
  top: -35px;
}

.excluir{
  float: inline-end;
  position: relative;
  padding: initial;
  top: -35px;
  right: 5px;
}

.piggy{
  margin: 0 auto;
  width: 50px;
}