.bg-detail{
  background-image: url(../imagens/v1_35-inicio.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: repeat-y;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343a40;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #343a40;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.logo{
  margin-left: 35px; 
  color: cornflowerblue;
 }

 .log{
  position: absolute;
  display: flex;
  justify-content: center;
 }
 
 .spanmonmey{
   color: #ff9900;
 }
 
 .nav-font{
   font-size: 1.3rem;
   margin-right: 15px
 }
 
.base-banner{
  padding: 5px;
}

 .banner{
  background-color: #7f7f7f5c;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
 }

 .container{
  max-width: 1440px; !important
 }

 .list-item{
  list-style-type: none;
 }

 .collection-div {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}

.item-div {
  margin: 5px 0;
}

.item-div p {
  margin: 0;
}

.s2{
  position: absolute;
  visibility: hidden;
}

.total{
  position: relative;
  float: inline-end;
  padding: 10px;
}

.totais{
  position: relative;
  text-align: end;
}

.receitas{
  background-color: #6bc2725c;
}

.despesas{
  background-color: #c26b6b5c;
}

.piggy{
  margin: 0 auto;
  width: 150px;
}

.text-banner{
  text-align: center;
}