.saldoini{
  position: relative;
  text-align: end;
}

.editar{
  float: inline-end;
  position: relative;
  padding: initial;
  top: -35px;
}

.excluir{
  float: inline-end;
  position: relative;
  padding: initial;
  top: -35px;
  right: 5px;
}

